{{!--
    Parameters:
    * footerText (text)
--}}

<footer class="gh-foot gh-outer">
    <div class="gh-foot-inner gh-inner">
        <nav class="gh-foot-menu">
            {{navigation type="secondary"}}
        </nav>

        <div class="gh-copyright">
            {{#unless footerText}}
                {{@site.title}} &copy; {{date format="YYYY"}}.
            {{else}}
                {{footerText}}
            {{/unless}}
        </div>
        <div>This is an individual initiative and not an official website of the Bahá’í Faith.</div>
    </div>
</footer>